.report-content {
  background-color: #F9F9F9;
  padding-bottom: 135px;


  .container {

    .first-card {
      border: none;
    }

    .top-content {
      padding-bottom: 20px;
    }

    .main-card {
      border-radius: 32px;
      border: 1px solid #f9d3d3;

    }

    .card-body {

      .header-button {
        padding: 10px;
        padding-bottom: 20px;
      }

      .btn-yellow {
        background: #d9d924;
      }

      .header-description {
        color: #979393;
      }


    }

    .sales-img {
      margin-bottom: 58px;
      margin-top: 20px;
    }

    .sales {
      border-right: none;
      border-radius: 10px;
      padding: 25px;

      .card-body {
        display: contents;
      }


    }

    .second-card {
      background: black;
      text-align: center;
      padding: 50px;
      border-radius: 30px;

      .card-body {
        display: contents;

        .content {
          color: white;
          padding: 20px;

          p {
            padding: 5px;
            color: #979393;
          }
        }
      }
    }
  }
}

.second-card {
  .container {
    display: flex;
    justify-content: space-between;
  }

  .card {
    width: 200px;
    height: 200px;
    border: 2px solid #06311b;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    background-color: #101010;
    color: white;
  }

  .layer {
    font-size: 40px;
    padding: 14px;
    color: #b5b510;
  }

  .avatars {
    padding: 10px;
  }

  .avatars img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }


  #value {
    font: 400 40px system-ui;
  }

}