<div class="footer">
  <div class="footer-top">

    <div class="right-section">
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Why Us</a></li>
        <li><a href="#">Platform</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Contacts</a></li>
      </ul>
    </div>

    <div class="left-section">
      <h2>hello@ramos.com</h2>
    </div>
  </div>
  <div class="footer-content">

    <div class="right-section">
      <div class="address">
        <div>
          <span>Warrensville Height</span>
          <span class="small-text">1418 Vineyard Drive,NC</span>
          <span class="small-text">44128</span>
        </div>
        <div>
          <span>Saint Louis</span>
          <span class="small-text">1366 Penn Street</span>
          <span class="small-text">63101</span>
        </div>
      </div>

      <div class="social-links">
        <span>Linkedin</span>
        <span>Instagram</span>
        <span>Facebook</span>
      </div>

    </div>

    <div class="left-section-terms">
      <span class="footer-title">
        <h1>Ramos ®</h1>
      </span>
      <div class="terms">
        <span class="small-text">Privacy Policy</span>
        <span class="small-text">License agreement</span>
        <img src="../../../assets/images/scanbar.png" alt="">
      </div>
    </div>

  </div>
</div>