.main-content {
  padding: 10px;
  font-size: 80px;
  letter-spacing: 1px;
  line-height: 90px;

  .mid-text {
    margin-left: -50px;
  }

  .shape {
    margin-left: 80px;
  }
}

.video {
  margin-left: -230px;
}