<div class="container">

  <div class="row align-items-center mt-7  mb-6 md-mb-10">
    <div class="col-md-12 ps-5 md-ps-15px d-flex justify-content-center">
      <h1 class="main-content"><img src="../../../assets/images/icon-1.png" alt="lgo" /> Analytics <br> <span
          class="mid-text">that
          <span class="text-light">helps</span>
          you </span> <br> <span class="shape"> shape <img src="../../../assets/images/icon-2.png" alt="future" /> the
          future</span>
      </h1>
      <div class="video">
        <img src="../../../assets/images/video.png" alt="video" />
      </div>
    </div>
  </div>
</div>