header .navbar {
  background: #0D0D0D;
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 20px;
  height: 80px;
  left: 0;
  z-index: 99;
  transition: .3s;
}

.navbar-collapse {
  align-items: center;
  align-self: stretch;
}

header .navbar-brand {
  margin-right: 0;
  vertical-align: middle;
  padding: 30px 0;
  display: inline-block;
  font-size: 0;

  img {
    width: auto;
    max-height: 36px
  }
}

div#navbarNav {
  background: #252525;
  border-radius: 54px;
  margin: 15px 0px;
}


header .header-top-bar,
header .navbar {
  position: fixed;
  top: 0;
  right: 0;
}

.header-btn {
  align-items: start;
  justify-content: end;
}

.navbar {
  padding: 0;
}

header .navbar [class*=col-] {
  padding: 0 15px;
  display: flex;
}


.container-fluid {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  padding-left: 45px;
  padding-right: 45px;

  width: 100%;

  margin-right: auto;
  margin-left: auto;

  .container-img {
    padding: 0 15px;
    display: flex;
  }

}


.text-light {
  color: rgb(189 192 195) !important;
}

.bg-yellow {
  font-size: 74px;
  color: #000;
  display: block;
  line-height: 1.5;
  border-radius: 56px;
  padding: 0px 32px;
}



.navbar .navbar-nav .nav-link {
  font-size: 18px;
  font-weight: 700;
  padding: 10px 26px;
  color: white;
}

header .btn.btn-switch-text.btn-very-small>span {
  padding: 10px 30px
}