<div>

  <div class="position-absolute top-0px left-0px w-100 z-index-minus-1"></div>
  <div class="container overlap-gap-section">
    <h1 class="ls-minus-3px text-dark-gray mb-30px fancy-text-style-4"> Maximize
      <span class="text-light">efficiency</span>
      <br> with our intuitive
    </h1>

    <div class="d-flex justify-content-between align-items-center">
      <img src="../../../assets/images/3.png" alt="logo" />
      <div class="bg-yellow">
        <span class="move-left-to-right">Analytics service</span>
      </div>
    </div>

    <div class="py-lg-16 py-10 bg-gray-200 call-action">
      <div class="container">
        <!-- row -->
        <div class="row justify-content-center">
          <div class="d-flex justify-content-between">
            <!-- heading -->
            <p class="lead  px-lg-12 mb-6">Explore traffic sources, page behavior, conversations and more to gain deep
              insight <br>
              into your audience.With us.Your business doesn't just adapt - it evolves</p>
            <!-- button -->
            <div class="d-flex gap-3 align-items-center">
              <a href="#" class="btn btn-gray mb-2 mb-md-0">Request a demo</a>
              <a href="#" class="btn btn-orrange">Start for free</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>