<main class="mx-auto gradient_background" >
  <div >
    <app-header></app-header>

    <section id="dashboard" class="snap-start">
      <app-dashboard></app-dashboard>
    </section>
    <section id="report" class="bg-gradient-very-light-gray position-relative pb-2">
      <app-report></app-report>
    </section>
    <section id="document" style="background-image: url('images/vertical-line-bg-medium-gray.svg')">
      <app-document></app-document>
    </section>
    <section id="history" class="snap-center">
      <app-history></app-history>
    </section>
    <section id="setting" class="snap-center">
      <app-setting></app-setting>
    </section>
    <section id="footer" class="snap-center">
      <app-footer></app-footer>
    </section>
  </div>
</main>