
// <section id="dashboard" class="background-position-center-top position-relative"

#dashboard{
  padding-top: 150px;
  padding-bottom: 110px;
  background-position: center top;
  position: relative;
}


#document {
  background-position: center top;
  position: relative;
}