#dashboard {
  padding-top: 200px;
  padding-bottom: 110px;
  background-position: center top;
  position: relative;
  height: 100vh;
}


#document {
  background-position: center top;
  position: relative;
}

section#report {
  padding-top: 100px;
  height: 100vh;
}

section#document {
  padding-top: 100px;
  height: 100vh;
}

section#history {
  height: 100vh;
  padding-top: 100px;
}

section#setting {
  height: 100vh;
  padding-top: 100px;
}

.animate-in {
  /* Define your animation properties here */
  animation-name: slideInFromBottom;
  animation-duration: 1.5s;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.section-slide-in {
  animation: slideInFromBottom 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

