<div class="top-0px left-0px w-100 z-index-minus-1"></div>
<div class="container overlap-gap-section">
  <h1 class="header-txt"> We give you full <br>
    <span class="text-light">Control</span>
    over your data
  </h1>

  <div class="img text-center">
    <img src="../../../assets/images/control.png" alt="" />
  </div>


  <div class="py-lg-16 py-10 bg-gray-200 call-action">
    <div class="container">
      <!-- row -->
      <div class="row justify-content-center">
        <div class="text-center">
          <img src="../../../assets/images/icc.png" alt="" />

          <!-- heading -->
          <h2 class="px-lg-12 mb-6">Get Started</h2>
          <p>Turn information into advantage! start using <br> Romas today signup fir a free trial</p>
          <!-- button -->
          <div class="d-flex gap-3 align-items-center justify-content-center">
            <a href="#" class="btn btn-gray mb-2 mb-md-0">Request a demo</a>
            <a href="#" class="btn btn-orrange">Start for free</a>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>