<div class="history" id="faq"
  style="background-image: url(../../../assets/images/faq.png);background-size: contain;background-repeat: no-repeat;background-position: 66% center;">
  <div class="container">
    <div class="row ">
      <div class="col-12 col-sm-8 col-lg-4 section-heading">
        <!-- Section Heading-->
        <div class="">
          <h3><span>Turning data into real </span><br> actions and ideas.</h3>

        </div>
      </div>
    </div>
    <div class="row ">
      <!-- FAQ Area-->
      <div class="col-12 col-sm-10 col-lg-5 faq-section">
        <div class="accordion faq-accordian" id="faqAccordion">
          <div class="card border-0">
            <div class="card-header" id="headingOne">
              <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                aria-controls="collapseOne">Instant Insights<span class="fas fa-plus fa-icon"></span></h6>
            </div>
          </div>
          <div class="card border-0">
            <div class="card-header" id="headingTwo">
              <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
                aria-controls="collapseTwo">AI technology<span class="fas fa-plus fa-icon"></span></h6>
            </div>

          </div>
          <div class="card border-0">
            <div class="card-header" id="headingThree">
              <h6 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true"
                aria-controls="collapseThree">Easy integration<span class="fas fa-plus fa-icon"></span></h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>